<div class="sensors-section">
  <% _.each(sensorTypes, function (type) { %>
    <h3><%= type %></h3>
    <div>
      <ul class="sensors">
        <% _.each(sensorIds, function (id) { %>
        <li class="sensor" data-type="<%= type %>" data-id="<%= id %>">
            <%= labelsMapping[id] %>
          </li>
        <% }); %>
      </ul>
    </div>
  <% }); %>
  <h3>virtual</h3>
  <ul class="sensors">
    <li class="sensor" data-type="virtual">
      custom
    </li>
    <li class="sensor" data-type="alert">
      alert
    </li>
  </ul>
</div>
