<div class="sensors-section">
  <% _.each(_.groupBy(sensors, 'sensorCategory'), function (group, sensorCategory) { %>
    <h3><%= sensorCategory %></h3>
    <div>
      <ul class="sensors">
        <% _.each(group, function (sensor) { %>
        <li class="sensor" data-type="<%= sensor.sensorType %>" data-name="<%= sensor.sensorName %>">
            <%= sensor.sensorName %>
          </li>
        <% }); %>
      </ul>
    </div>
  <% }); %>
  <h3>Create Custom Virtual Sensor</h3>
  <ul class="sensors">
    <li class="sensor" data-type="virtual">
      custom
    </li>
    <li class="sensor" data-type="alert">
      alert
    </li>
  </ul>
</div>
