<div class="sensors-section">
  <% _.each(_.groupBy(sensors, 'sensorCategoryName'), function (group, sensorCategory) { %>
    <h3><%= sensorCategory %></h3>
    <div>
      <ul class="sensors">
        <% _.each(group, function (sensor) { %>
        <li class="sensor" data-type="<%= sensor.sensorTypeName %>" data-name="<%= sensor.sensorName %>" data-category="<%= sensorCategory %>">
            <%= sensor.sensorName %>
          </li>
        <% }); %>
      </ul>
    </div>
  <% }); %>
  <h3>Create Custom Virtual Sensor</h3>
  <ul class="sensors">
    <li class="sensor" data-type="virtual">
      <b>Custom</b>
    </li>
    <li class="sensor" data-type="alert">
      <b>Alert</b>
    </li>
    <li class="sensor" data-type="sum">
      Sum
    </li>
    <li class="sensor" data-type="abs">
      Absolute value
    </li>
    <li class="sensor" data-type="mean">
      Mean
    </li>
  </ul>
</div>
