<div class="name"><%= name %></div>
<div class="body">
  <div class="ports-wrapper">
    <ul class="input-ports">
    </ul>
    <div class="port output-port"></div>
  </div>
  <div class="chart">
  </div>
  <div class="toolbar">
    <div class="toolbar-button edit">
      <i class="fi-widget"></i>Edit
    </div>
    <div class="toolbar-button save">
      <i class="fi-save"></i>Save
    </div>
  </div>
  <div class="code">
    <textarea></textarea>
  </div>
</div>
<div class="output-port-value"></div>
