
<div class="timeline-body">
  <img src="../img/close_button.png" class="close-button">
  <div class="timeline-header">   
    <div class="timeline-datelist" id="timeline-list">
        <input type="text" class="timeline-date start" placeholder="start date"/>
        <input type="text" class="timeline-time start" placeholder="start time"/> -
        <input type="text" class="timeline-time end" placeholder="end time"/>
        <input type="text" class="timeline-date end" placeholder="end date"/>
        <button type="button" class="timeline-button">Fetch</button>
    </div>
  </div>
  <div class="timeline-graph"></div>
</div>