.navbar {
  height: 32px;
  background-color: #900;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .brand {
  height: 32px;
  line-height: 32px;
  font-size: 18px;
  padding-left: 20px;
  margin: 0;
  font-family: '"Modern No. 20", serif';
  font-weight: normal;
}

