.panel {
  position: absolute;
  left: 10px;
  top: 40px;
  color: #aaa;
  font-family: 'monospace', 'courier', 'consola';
  font-size: 10px;
  line-height: 18px;
  z-index: 100;
}

.sensors {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: scroll;
  height: 300px;
}

.sensor {
  font-size: 10px;
  line-height: 18px;
  cursor: move;
}

.sensor:hover {
  color: black;
}

.spinner {
  position: absolute;
  top: 10px;
  left: 50px;
}
