.processor {
  position: absolute !important;
  font-family: 'monospace', 'courier', 'consola';
  font-size: 10px;
  line-height: 18px;
  cursor: move;
}

.processor .name {
  display: block;
  background: #999;
  color: white;
  font-weight: bold;
  width: 200px;
  padding: 0 5px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #d7d7d7;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.processor .body {
  display: inline-block;
  background: white;
  padding: 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #d7d7d7;
  width: 200px;
}

.processor .controls {
  position: relative;
  left: 0;
  right: 0;
  top: 20px;
}

.ports-wrapper {
  overflow: hidden;
}

.input-ports {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #777;
  float: left;
}

.output-port {
  float: right;
  margin-left: 15px;
}

.port {
  cursor: crosshair;
}
.port:hover {
  color: #333;
}

.port.droppable-hover {
  color: #333;
}

.output-port-value {
  width: 0;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  padding: 0;
  margin-left: -2px;
  color: #59e;
}

.chart {
  margin-top: 5px;
}

.horizon .title {
  display: none;
}
.horizon .value {
  display: none;
}

.horizon canvas {
  margin-bottom: -5px;
  border: 1px solid #eee;
}

.toolbar {
  float: right;
  margin-top: 5px;
}

.edit-button {
  font-size: 9px;
  color: #aaa;
  cursor: pointer;
}

.edit-button:hover {
  color: #333;
}

.edit-button i {
  display: none;
  margin-right: 3px;
}
