.processor {
  position: absolute !important;
  font-family: 'monospace', 'courier', 'consola';
  font-size: 10px;
  line-height: 18px;
}

.processor .name {
  display: block;
  background: #999;
  color: white;
  font-weight: bold;
  width: 180px;
  padding: 0 15px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #d7d7d7;
  border-radius: 5px 5px 0 0;
  text-align: center;
  cursor: move;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 18px;
}

.processor .body {
  display: inline-block;
  background: white;
  padding: 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #d7d7d7;
  width: 200px;
}

.processor .controls {
  position: relative;
  left: 0;
  right: 0;
  top: 20px;
}

.processor .add-port {
  cursor: pointer;
}
.processor .add-port.active {
  display: none;
}

.processor .add-port-input {
  width: 50px;
  display: none;
  height: 12px;
  padding: 2px 0;
}
.processor .add-port-input.active {
  display: block;
}

.processor .remove-port {
  cursor: pointer;
}

.ports-wrapper {
  overflow: hidden;
}

.input-ports-wrapper {
  float: left;
}

.input-ports {
  list-style: none;
  padding: 0;
  margin: 0;
}

.output-port {
  float: right;
}

.port {
  cursor: crosshair !important;
  color: #777;
}
.port:hover {
  color: #333;
}

.port.droppable-hover {
  color: #333;
}

.output-port-value {
  width: 0;
  display: inline-block;
  vertical-align: top;
  list-style: none;
  padding: 0;
  margin-left: -2px;
  color: #59e;
  display: none;
}

.chart {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.horizon {
  position: relative;
}

.horizon .title {
  display: none;
}
.horizon .value {
  right: 0;
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon canvas {
  margin-bottom: -5px;
  border: 1px solid #eee;
}

.toolbar {
  margin-top: 5px;
  overflow: hidden;
}

.toolbar-button {
  font-size: 9px;
  color: #aaa;
  cursor: pointer;
  float: right;
  margin-left: 20px;
}

.toolbar-button:hover {
  color: #333;
}

.toolbar-button i {
  margin-right: 3px;
}

.code {
  display: none;
  border: 1px solid #ccc;
  cursor: text;
}

.toolbar-button.save {
  display: none;
}

.horizon {
  margin-top: -7px;
}

.axis text {
  fill: #aaa;
  font-size: 8px;
  -webkit-transition: fill-opacity 200ms linear;
          transition: fill-opacity 200ms linear;
}

.axis > svg {
}

.remove {
  position: absolute;
  left: 5px;
  top: 0px;
  line-height: 18px;
  color: white;
  cursor: pointer;
}

/*

.axis {
  font: 10px sans-serif;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}


*/
