html, body {
  width: 100%;
  height: 100%;
}

.app {
  background: #444;
  width: 100%;
  height: 100%;
  position: relative;
}

.dataflow {
  width: 100%;
  height: 100%;
  position: relative;
}

.svg-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.processor {
  display: inline-block;
  position: absolute;
  background: #333;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: move;
  font-family: 'monospace', 'courier', 'consola';
}

.ports {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #aaa;
  font-size: 10px;
}

.ports.input {
  float: left;
  margin-right: 15px;
}

.ports.output {
  float: right;
  margin-left: 15px;
}

.port {
  line-height: 18px;
  cursor: crosshair;
}
.port:hover {
  color: #eee;
}

.port.droppable-hover {
  color: #eee;
}
